@{
    ViewData["Title"] = "系统登录";
    Layout = "~/Shared/_root.cshtml";
}
@section style
{
    @RenderSection("Style", false)
}

<body>
@RenderBody()
<script src="/js/carbon.js"></script>
<script src="/js/demo.js"></script>
@RenderSection("Script", false)
</body>
